<div class = "container">
  <div class="row">
    <h2>Comments for <%= @advertisement.name %></h2>
    <div class="comments-box">
      <div class="comment-links">
        <span>Comments</span>
        <%= link_to("Add Comment", new_comment_path(:advertisement_id => @advertisement.id), :class => "comment_link") %>
      </div>
      <% @comments.each do |comment|%>
      <div class="show-comment">
        <p class="comment-delete">
          <% if comment.user_id == current_user.id %>
          <%= link_to comment_path(comment), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} do%>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
          <% end %>
        </p>
        <p><%= comment.text %></p>
        <span><%= "-" + comment.user.name%></span>
      </div>
      <% end %>
      <div class="comment-links">
        <p><%= link_to("Show all comments", comments_path(:advertisement_id => @advertisement.id), :class => "comment_link") %></p>
      </div>
    </div>
  </div>
</div>
