<%= error_messages_for(user.object) %>
<div class="form-group">
  <%= user.label :first_name, "First name", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= user.text_field :first_name,placeholder: "First Name", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= user.label :last_name, "Last name", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= user.text_field :last_name,placeholder: "Last Name", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= user.label :location, "Location", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= user.text_field :location, placeholder: "Location", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= user.label :email, "Email id", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= user.text_field :email,placeholder: "user@domain.com", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= user.label :contact_no, "Contact Number", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= user.text_field :contact_no,placeholder: "should be 10 digits", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= user.label :username, "Username", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= user.text_field :username, placeholder: "min. 8 characters", class: "form-control" %>
  </div>
</div>
<% if !user_signed_in? %>
  <div class="form-group">
    <%= user.label :password, "Password", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= user.password_field :password, placeholder: "min. 8 characters", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :password_confirmation, "Re-enter Password", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= user.password_field :password_confirmation, placeholder: "min. 8 characters", class: "form-control" %>
    </div>
  </div>
<% end %>
<div class="form-group">
  <div class="col-md-offset-4">
    <%= user.submit "Submit", class: "btn btn-btn-success btn-lg" %>
  </div>
</div>
