<%= @user.name %>
<% @page_title = "Update Profile" %>

<% if current_user.id == @user.id %>
  <div class="container form_box">
    <div class="row">
      <%= form_for @user, url: change_password_user_path(current_user),  html: {class: "form-horizontal center"}, method: 'patch' do |f|%>
      <div class="form-group">
        <%= label :current_password, "Current Password", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= password_field nil, :current_password, placeholder: "Enter old password", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
           <%= f.label :password, "Enter new password", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.password_field :password, placeholder: "min 8 characters", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
           <%= f.label :password_confirmation, "Re-enter password", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.password_field :password_confirmation, placeholder: "re-type password", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-5">
            <%= f.submit "Submit", class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render('layouts/noaccess') %>
<% end %>
