<div class="container">
  <div class="row">
    <p><%= link_to "Back to Admin panel", admin_index_path %></p>
    <% if @users.size != 0 %>
      <table class="table_view">
        <thead class="table_head">
            <th>User Name</th>
            <th>Location</th>
            <th>Joined</th>
            <th>Admin Status</th>
            <th>Actions</th>
        </thead>
        <tbody class="table_body">
          <% @users.each do |user|%>
            <tr>
              <td><%= user.name.camelcase %></td>
              <td><%= user.location.camelcase %></td>
              <td><%= user.created_at.to_date %></td>
              <td><%= user.admin %></td>
              <td>
                <%= link_to("Make Admin", admin_user_path(user, admin_task: params[:admin_task]), method: :patch, data: {confirm: "Are you sure?"})%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>No relevent users found</h3>
    <% end %>
  </div>
</div>
