<div class="container">
  <div class="search_parameters">
    <div class="search_bar">
      <%= form_tag(advertisements_path, method: "get", id: "search-form") do %>
        <%= text_field_tag :search_name, params[:search_name], placeholder: "Enter name", include_blank: true%>

        <%= text_field_tag :search_location, params[:search_location], placeholder: "Location"%>
        <%= collection_select nil, :category, Category.sorted, :id, :name, include_blank: true, selected: nil, prompt: "Category", class: "form-control"%>
        <%= grouped_collection_select nil, :sub_category_id, Category.sorted, :sub_categories, :name, :id, :name, include_blank: true, prompt: "Sub-Category", class: "form-control" %>

        <%= button_tag(type: 'submit', class: "btn btn-md") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && current_user.admin? %>
    <p><%= link_to "Back to Admin panel", admin_index_path %></p>
  <% end %>
  <% if @advertisements.count != 0 %>
    <div class="row">
      <% @advertisements.each do |advertisement| %>
        <% if user_signed_in? %>
          <% if advertisement.user_id == current_user.id %>
            <% @class_disabled = "disabled" %>
          <% else %>
            <% @class = "" %>
          <% end %>
        <% end %>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 advert-columns">
          <div class="advert">

            <%= render(partial: 'form_display', locals: {advertisement: advertisement}) %>

            <%= link_to("Add to Cart", cart_products_path(advertisement_id: advertisement.id), class: "btn btn-success #{@class_disabled}", method: 'post' ) %>
            <% if user_signed_in? %>
              <% if advertisement.user_id.present? %>
                <%= link_to 'Chat with Seller', conversations_path(sender_id: current_user.id, recipient_id: advertisement.user.id), class: "btn btn-warning #{@class_disabled}", method: 'post' %>
              <% else %>
                <%= link_to 'Chat not available', '#', class: "btn btn-warning disabled"%>
              <% end %>
              <% if current_user.admin? %>
              <%= link_to("Delete", advertisement_path(advertisement, admin_task: "index_delete"),method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
      <h3>No Ads posted yet!</h3>
      <p><%= link_to "Post an ad", new_advertisement_path %></p>
  <% end %>
</div>
