<% @page_title = "Show advertisement" %>
<% if user_signed_in? %>
  <% if @advertisement.user_id == current_user.id %>
    <% @class_disabled = "disabled" %>
  <% else %>
    <% @class = "" %>
  <% end %>
<% end %>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 image_display">
      <div class="image_display_pane">
        <%=image_tag(@pictures.first.image.url(:large)) %>
      </div>
      <% @pictures.each do |pic|%>
        <div class="col-xs-4 image_thumb">
          <%= image_tag(pic.image.url(:large)) %>
        </div>

      <% end %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 info_display">
      <h2><strong><%= @advertisement.name.camelcase %></strong></h2>
      <span><strong><%= @advertisement.category.name.camelcase + " >> "%></strong></span>
      <span><strong><%= @advertisement.sub_category.name.camelcase %></strong></span>
      <h3>
        <span class = "glyphicon glyphicon-map-marker"></span>
        <span><%= @advertisement.location.camelcase %></span>
      </h3>
      <p><%= @advertisement.description %></p>
      <p>Add posted by: <%= @advertisement.user_username%></p>
      <h3><strong> ₹ <%= @advertisement.price %></strong></h3>

      <%= link_to("Add to Cart", cart_products_path(advertisement_id: @advertisement.id), class: "btn btn-success #{@class_disabled}", method: 'post' ) %>
      <% if user_signed_in? %>
        <% if @advertisement.user_id.present? %>
          <%= link_to 'Chat with Seller', conversations_path(sender_id: current_user.id, recipient_id: @advertisement.user.id), class: "btn btn-warning #{@class_disabled}", method: 'post' %>
        <% else %>
          <%= link_to 'Chat not available', '#', class: "btn btn-warning disabled"%>
        <% end %>
      <% end %>

    </div>

  </div>
  <div class="row">
    <div class="comments-box">
      <div class="comment-links">
        <span>Comments</span>
        <%= link_to("Add Comment", new_comment_path(:advertisement_id => @advertisement.id), :class => "comment_link") %>
      </div>
      <% if @comments.size !=0  %>
        <% @comments.first(3).each do |comment|%>
          <div class="show-comment">
            <p class="comment-delete">
              <% if comment.user_id == current_user.id %>
                <%= link_to comment_path(comment), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} do%>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            </p>
            <p><%= comment.text %></p>
            <span><%= "-" + comment.user.name%></span>

          </div>
        <% end %>
      <% else %>
        <div class="show-comment">
          <p>No comments yet</p>
        </div>
      <% end %>

      <% if @comments.size > 3 %>
        <div class="comment-links">
          <p><%= link_to("Show all comments", comments_path(:advertisement_id => @advertisement.id), :class => "comment_link") %></p>
        </div>
      <% end %>
    </div>
  </div>
  <% @advertisement.pictures.each do |pic|%>
    <%= image_tag(pic.image.url(:thumb)) %>
  <% end %>
</div>
