<% @page_title = "Show advertisement" %>
<% if user_signed_in? %>
  <% if @advertisement.user_id == current_user.id %>
    <% @class_disabled = "disabled" %>
  <% else %>
    <% @class = "" %>
  <% end %>
<% end %>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 image_display">
      <% if @pictures.count!=0 %>
        <div class="image_display_pane">
          <%=image_tag(@pictures.first.image.url(:large)) %>
        </div>
        <% @pictures.each do |pic|%>
          <div class="col-xs-4 image_thumb">
            <%= image_tag(pic.image.url(:large)) %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 info_display">
      <h2><strong><%= @advertisement.name.camelcase %></strong></h2>
      <span><strong><%= "#{@advertisement.category.name.camelcase} >>  #{@advertisement.sub_category.name.camelcase}" %></strong></span>
      <h3>
        <span class = "glyphicon glyphicon-map-marker"></span>
        <span><%= @advertisement.location.camelcase %></span>
      </h3>
      <p><%= @advertisement.description.capitalize %></p>
      <p>Ad posted by: <%= @advertisement.user_username%></p>
      <h3><strong> ₹ <%= @advertisement.price %></strong></h3>

      <% if user_signed_in? %>
        <% if @advertisement.user_id.present?  %>
          <% if @advertisement.user_id != current_user.id %>
            <%= link_to 'Chat with Seller', conversations_path(sender_id: current_user.id, recipient_id: @advertisement.user.id, advertisement_id: @advertisement.id), class: "btn btn-warning #{@class_disabled}", method: 'post' %>
          <% end %>
        <% else %>
          <%= link_to 'Chat not available', '#', class: "btn btn-warning disabled"%>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <% if @advertisement.conversations.present? %>
          <div class="conversations">
            <h3>Active chats:</h3>
            <% @advertisement.conversations.each do |conversation| %>
              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                <% if conversation.sender_id == current_user.id %>
                  <% recipient = User.find(conversation.recipient_id) %>
                <% else %>
                  <% recipient = User.find(conversation.sender_id) %>
                <% end %>

                <p>
                  <%= link_to "Chat with #{recipient.username.capitalize}", conversation_messages_path(conversation) %>
                </p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="comments-box">
      <div class="comment-links">
        <span>Comments</span>
        <%= link_to("Add Comment", new_comment_path(advertisement_id: @advertisement.id), class: "comment_link") %>
      </div>
      <% if @comments.size !=0  %>
        <% @comments.first(3).each do |comment|%>
          <div class="show-comment">
            <p class="comment-delete">
              <% if session[:user_id]!= nil %>
                <% if comment.user_id == current_user.id %>
                  <%= link_to comment_path(comment), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} do%>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% end %>
              <% end %>
            </p>
            <p><%= comment.text %></p>
            <span><%= "- #{comment.user.name}"%></span>
            <span><%= "(approved_by #{User.find(comment.approved_by_id).name})" %></span>
          </div>
        <% end %>
      <% else %>
        <div class="show-comment">
          <p>No comments yet</p>
        </div>
      <% end %>

      <% if @comments.size > 3 %>
        <div class="comment-links">
          <p><%= link_to("Show all comments", comments_path(advertisement_id: @advertisement.id), class: "comment_link") %></p>
        </div>
      <% end %>
    </div>
  </div>
