<% @price = 0 %>
<div class="container cart">
  <div class="row">
    <div class="col-lg-8">
      <div class="head">
        <h3>My Cart (<%= @cart.cart_products.size %>)</h3>
      </div>
      <div class="cart-body">
        <% if @cart.cart_products.size != 0 %>
          <% @cart.cart_products.each do |product| %>
            <% @advertisement = Advertisement.find(product.advertisement_id) %>
            <div class="cart-product">
              <div class="col-lg-4 image-box">
                <%= image_tag(@advertisement.image(:thumb)) %>
              </div>
              <div class="col-lg-8 content-box">
                <%= link_to advertisement_path(@advertisement) do%>
                  <h3><%= @advertisement.name %></h3>
                <% end %>
                <%= link_to cart_product_path(product), method: 'delete' do %>
                  <span class="btn btn-danger glyphicon glyphicon-trash" style="float: right;"></span>
                <% end %>
                <p><span><%= @advertisement.category.name.camelcase + " >> "%></span>
                <span><%= @advertisement.sub_category.name.camelcase %></span></p>
                <h4><strong> ₹ <%= @advertisement.price %></strong></h4>
                <p>Seller: <%= @advertisement.user.name %></p>
                <div class="buttons">
                  <%= form_for product, html: {class: "form-horizontal center"} do |product| %>
                    Quantity:
                    <button type="button" class="button_remove">-</button>
                    <%= product.text_field :quantity, placeholder: "Quantity" %>
                    <button type="button" class="button_add">+</button>
                    <%= product.submit 'Update', class: "btn btn-sm btn-info" %>
                  <% end %>
                </div>
              </div>
              <% @price += product.quantity * @advertisement.price %>
            </div>
          <% end %>
        <% else %>
          <p class="no-products">No Products in Cart yet!!!</p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="head">
        <h3>Price details</h3>
      </div>
      <div class="cart-body">
          <h4 class="price-label">Price (<%= pluralize(@cart.cart_products.count, "item") %>)</h4>
          <h4 class="price-value"><%= @price %></h4>
      </div>
    </div>
  </div>
</div>
