      <!-- <div class="form-group">
        <%= f.label :first_name, "First name", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :first_name,placeholder: "First Name", class: "form-control" %>
        </div>
      </div> -->
<!--
      <div class="form-group">
        <%= f.label :last_name, "Last name", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :last_name,placeholder: "Last Name", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, "Email id", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :email,placeholder: "user@domain.com", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :username, "Username", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :username, placeholder: "min. 8 characters", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :contact_no, "Contact Number", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :contact_no,placeholder: "should be 10 digits", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.password_field :password,placeholder: "should be atleast 6 characters", class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
         <%= f.label "Password confirmation", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.password_field :password_confirmation,placeholder: "re-type password", class: "form-control" %>
        </div>
      </div>

     <div class="form-group">
      <div class="col-md-offset-4">
        <%= f.submit "Submit", class: "btn btn-btn-success btn-lg" %>
      </div>
    </div>

-->
