<%= link_to("Add New Category", new_category_path, :class => 'add-link') %>

<table class="listing" summary="Subject list">
  <tr class="header">
    <th>Name</th>
    <th>Sub Categories</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.sub_categories.size %></td>
    <td>
      <%= link_to("Show Subcategories", sub_categories_path(:category_id => category.id), :class => 'action show') %>
      <%= link_to("Add Subcategory", new_sub_category_path(:category_id => category.id), :class => 'action add') %>
      <%= link_to("Delete category", delete_category_path(category), :class => 'action delete') %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to('Roar', '#', :onclick => "jsRoar('Javascript'); return true;") %>
<%= link_to('Roar', '#', :onclick => "jsRoar2('Javascript'); return true;") %>
