
  <div class="container-fluid name_box">
    <div class="dropdown" style="float:right;">
      <h3>
        <%= link_to("Post Ad", new_advertisement_path) %>
      </h3>
      <% if user_signed_in? %>
        <h3 data-toggle="dropdown" style="display: inline-block;">
          <span class="glyphicon glyphicon-user"></span>
          <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize%>
        </h3>
        <h3>
          <%= link_to carts_path do%>
          <span class="glyphicon glyphicon-shopping-cart"></span> Cart(<%= Cart.find(session[:cart_id]).cart_products.size %>)
          <% end %>
        </h3>
        <ul class="dropdown-menu">
          <li class="text-center"> <%= link_to "Home", advertisements_path %> </li>
          <li class="text-center"><%= link_to("My Conversations", conversations_path) %> </li>
          <% if current_user.advertisements.size != 0 %>
          <li class="text-center"> <%= link_to "Show your Ads", advertisements_view_path %> </li>
          <% end %>
          <li class="text-center"> <%= link_to "Edit Profile", user_path(@current_user.id) %></li>
          <li class="text-center"> <%= link_to "Contact Us", "#" %></li>
          <li class="text-center"><%= link_to "Logout", access_logout_path %></li>
        </ul>

      <% else %>
        <h3>
          <span class="glyphicon glyphicon-user"></span>
          <%= link_to("Login", access_login_path) %>
        </h3>

      <% end %>
    </div>
  </div>
