<% if user_signed_in? %>
  <div class="container-fluid name_box">
    <div class="dropdown col-lg-offset-9 col-md-offset-8 col-sm-offset-5 col-xs-offset-3 col-md-4 col-lg-3">
      <h3 data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize%>
     </h3>
      <ul class="dropdown-menu dropdown-menu-center">
        <li class="text-center"> <%= link_to "Home", advertisements_path %> </li>
        <li class="text-center"><%= link_to("Post Ad", new_advertisement_path(:user_id => @current_user.id)) %> </li>
        <% if current_user.advertisements.size != 0 %>
        <li class="text-center"> <%= link_to "Show your Ads", advertisements_view_path %> </li>
        <% end %>
        <li class="text-center"> <%= link_to "Edit Profile", user_path(@current_user.id) %></li>
        <li class="text-center"> <%= link_to "Contact Us", "#" %></li>
        <li class="text-center"><%= link_to "Logout", access_logout_path %></li>
      </ul>
    </div>
  </div>
<% end %>
